<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <img
      src="/assets/images/elecboutique_icone.png"
      style="max-height: 80%"
      fxShow="true"
      fxHide.lt-md="true"
    />
    <img
      src="/assets/images/elecboutique_icone_small.png"
      style="max-height: 80%"
      fxShow="true"
      fxHide.gt-sm="true"
    />
    <app-mobile-menu
      fxShow="true"
      fxHide.gt-sm="true"
      style="margin-left: 8px"
    ></app-mobile-menu>

    <form
      class="query-form"
      fxShow="true"
      fxHide.lt-sm="true"
      (submit)="onSearchSubmit($event)"
    >
      <select (input)="searchService.emitCategory($any($event).target.value)">
        <option selected="selected" value="">Toutes les catégories</option>
        <option
          [value]="c[0]"
          *ngFor="let c of categories"
          [selected]="searchService.lastCategory == c[0]"
        >
          {{ c[1] }}
        </option>
      </select>
      <input
        type="search"
        class="query-input"
        placeholder="Chercher des articles ..."
        matInput
        fxShow="true"
        fxFlex.lt-xl="251px"
        (input)="searchService.emitQuery($any($event).target.value)"
        [value]="searchService.lastQuery"
      />
      <button aria-label="Bouton de recherche" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <div fxShow="true" fxHide.lt-lg="true">
      <a mat-button [routerLink]="['apropos']" ariaCurrentWhenActive="page"
        >À propos</a
      >
      <a
        mat-button
        [routerLink]="['politique-confidentialite']"
        ariaCurrentWhenActive="page"
        >Politique de confidentialité</a
      >
    </div>
    <span class="spacer"></span>
    <app-offline-menu
      *ngIf="authService.isAnonymous; else onlineMenuBlock"
    ></app-offline-menu>
    <ng-template #onlineMenuBlock>
      <app-online-menu></app-online-menu>
    </ng-template>
  </mat-toolbar-row>
  <mat-toolbar-row
    fxShow="false"
    fxShow.lt-sm="true"
    style="margin: 0px; padding: 0px"
  >
    <form class="query-form-secondary" (submit)="onSearchSubmit($event)">
      <select (input)="searchService.emitCategory($any($event).target.value)">
        <option selected="selected" value="">Toutes les catégories</option>
        <option
          [value]="c[0]"
          *ngFor="let c of categories"
          [selected]="searchService.lastCategory == c[0]"
        >
          {{ c[1] }}
        </option>
      </select>
      <input
        type="search"
        class="query-input"
        placeholder="Chercher des articles ..."
        matInput
        style="width: 100%"
        (input)="searchService.emitQuery($any($event).target.value)"
        [value]="searchService.lastQuery"
      />
      <button aria-label="Bouton de recherche" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </mat-toolbar-row>
  <mat-toolbar-row class="navbar-secondary">
    <div>
      <a mat-button *ngFor="let c of categories">{{ c[1] }}</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
