<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <img
      src="/assets/images/elecboutique_icone.png"
      style="max-height: 80%"
      fxShow="true"
      fxHide.lt-md="true"
    />
    <img
      src="/assets/images/elecboutique_icone_small.png"
      style="max-height: 80%"
      fxShow="true"
      fxHide.gt-sm="true"
    />
    <app-mobile-menu
      fxShow="true"
      fxHide.gt-sm="true"
      style="margin-left: 8px"
    ></app-mobile-menu>

    <form class="query-form">
      <select>
        <option selected="selected">Toutes les catégories</option>
      </select>
      <input
        type="search"
        class="query-input"
        placeholder="Chercher des articles ..."
        matInput
        fxShow="true"
        fxFlex.lt-xl="251px"
      />
    </form>
    <div fxShow="true" fxHide.lt-lg="true">
      <a mat-button [routerLink]="['apropos']" ariaCurrentWhenActive="page"
        >À propos</a
      >
      <a
        mat-button
        [routerLink]="['politique-confidentialite']"
        ariaCurrentWhenActive="page"
        >Politique de confidentialité</a
      >
    </div>
    <span class="spacer"></span>
    <app-offline-menu></app-offline-menu>
  </mat-toolbar-row>
  <mat-toolbar-row class="navbar-secondary">
    <div>
      <a mat-button>Bureautique</a>
      <a mat-button>FPGAs</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
