<div
  class="offline-menu"
  mat-icon-button
  [matMenuTriggerFor]="menu"
  #menuTrigger="matMenuTrigger"
  (mouseenter)="menuTrigger.openMenu()"
  fxShow="true"
  fxFlex.lt-lg="58px"
>
  <ng-icon name="ionPersonOutline" size="26"></ng-icon>
  <ul fxShow="true" fxHide.lt-lg="true">
    <li>Actuellement non connecté(e)</li>
    <li><b>Se connecter</b> ou <b>s'enregistrer</b></li>
  </ul>
</div>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <span (mouseleave)="menuTrigger.closeMenu()">
    <a [routerLink]="['connexion']" ariaCurrentWhenActive="page">
      <button mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Se connecter</span>
      </button>
    </a>
    <a [routerLink]="['inscription']" ariaCurrentWhenActive="page">
      <button mat-menu-item>
        <mat-icon>person_add</mat-icon>
        <span>Créer un compte</span>
      </button>
    </a>
  </span>
</mat-menu>
