.offline-menu {
  width: 270px;
  height: 58px;
  border-radius: 16px;
}

.offline-menu > ng-icon {
  float: left;
}

.offline-menu > ul {
  font-size: 14px;
  display: inline-block;
  width: auto;
  list-style: none;
  padding: 0px;
  padding-top: 2px;
}

.offline-menu > ul > li {
  margin: 0px;
  line-height: 14px;
}

.offline-menu:hover,
.offline-menu[aria-expanded="true"] {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.062);
}

a {
  text-decoration: none;
}
