html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.query-form {
  margin: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.query-form > * {
  height: 44px;
  font-size: 18px;
  border-radius: 6px;
  border: 0px;
}

.query-form > *:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.query-form > *:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.query-form > *:not(:first-child):not(:last-child) {
  border-radius: 0px;
}

.query-form > input[type="search"] {
  padding: 16px;
  width: 460px;
}

.query-form > select {
  padding-left: 16px;
  background-color: #e6e6e6;
  border: solid 1px rgb(187, 187, 187);
}

.query-form > select:hover {
  cursor: pointer;
}

.query-form > button {
  background-color: rgb(255, 188, 42);
  width: 48px;
}

.query-form > button:hover {
  cursor: pointer;
}

.spacer {
  width: 100%;
}

ng-icon {
  width: 100%;
  height: 100%;
  padding: 16px;
}

div.mat-mdc-menu-panel {
  background-color: rgb(16, 18, 29);
  color: white;
}

div.mat-mdc-menu-content *,
div.mat-mdc-menu-content .mat-icon-no-color {
  color: white;
}

form.auth-form {
  margin: 0 auto;
  padding-top: 32px;
  max-width: 70%;
}

form.auth-form > div.auth-form-layout {
  display: flex;
  /*flex-direction: row;*/
  align-items: baseline;
  justify-content: space-between;
}

form.auth-form > h1 {
  text-align: center;
}

form.auth-form > div.auth-form-layout > div {
  max-width: 360px;
  margin: 8px;
}

form.auth-form > div.auth-form-layout > div > * {
  width: 100%;
}

form.auth-form > div.auth-form-layout > div > span > * {
  width: 100%;
}

form.auth-form button[type="submit"] {
  width: 180px;
}

.auth-form-disabled {
  opacity: 0.5;
  pointer-events: none !important;
  user-select: none !important;
}

.auth-form-disabled * {
  pointer-events: none;
  user-select: none;
}

div.avatar-container {
  /*background-image: url("/assets/images/guest_user.png");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110% 110%;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.267);
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.greyed-out {
  color: grey;
  font-size: 14px;
  font-weight: 200;
}

.title-bold {
  color: rgb(16, 18, 29);
  font-weight: bold;
  font-size: 20px;
}

.sales-btn {
  border: solid 1px rgb(194, 149, 0);
  background-color: rgb(255, 196, 0);
  color: black;
  border-radius: 16px;
  padding: 10px;
  margin: 4px;
  font-weight: 700;
}

.sales-btn:hover {
  cursor: pointer;
  background-color: rgb(240, 184, 0);
}
