<div id="profile-cont">
  <mat-tab-group (selectedTabChange)="onTabChanged($event)" dynamicHeight>
    <mat-tab label="Général">
      <ng-container *ngIf="!loading">
        <div id="profile-header">
          <div
            class="avatar-container"
            id="profile-avatar-container"
            [ngStyle]="{
              'background-image':
                'url(\'' +
                mediaUtils.getProfilePhotoMediaUri(
                  this.generalProfile!.userData.profilePhotoMedia
                ) +
                '\')'
            }"
          ></div>
          <ul>
            <li class="title-bold">
              {{ this.generalProfile?.userData?.username }}
            </li>
            <li>
              {{ this.generalProfile?.firstName }}
              {{ this.generalProfile?.lastName }}
            </li>
            <li class="greyed-out">
              Membre depuis le
              {{
                this.generalProfile?.userData?.createdAtTime
                  | date : "shortDate"
              }}
            </li>
            <li class="greyed-out">
              Identifiant: {{ this.generalProfile?.id }}
            </li>
          </ul>
        </div>
        <form [formGroup]="group">
          <mat-grid-list cols="2" rowHeight="1.5:1">
            <mat-grid-tile>
              <div class="profile-input-group">
                <mat-form-field>
                  <mat-label>Adresse e-mail</mat-label>
                  <input matInput type="email" formControlName="email" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Nouveau mot de passe</mat-label>
                  <input matInput type="password" formControlName="password" />
                </mat-form-field>
                <div class="profile-input-horizontal-group">
                  <mat-form-field>
                    <mat-label>Prénom</mat-label>
                    <input matInput type="text" formControlName="firstName" />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Nom de famille</mat-label>
                    <input matInput type="text" formControlName="lastName" />
                  </mat-form-field>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile>
              <div class="profile-input-group" formGroupName="address">
                <mat-form-field>
                  <mat-label>Rue</mat-label>
                  <input matInput type="text" formControlName="street" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Ville</mat-label>
                  <input matInput type="text" formControlName="city" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Code postal</mat-label>
                  <input matInput type="text" formControlName="zipCode" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Pays</mat-label>
                  <input matInput type="text" formControlName="country" />
                </mat-form-field>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div
                class="profile-input-group"
                [ngClass]="{
                  'auth-form-disabled': !authService.isProvider
                }"
              >
                <mat-form-field>
                  <mat-label>Nom de votre entreprise</mat-label>
                  <input matInput type="text" formControlName="businessName" />
                </mat-form-field></div
            ></mat-grid-tile>
            <mat-grid-tile>
              <div
                class="profile-input-group"
                formGroupName="businessAddress"
                [ngClass]="{
                  'auth-form-disabled': !authService.isProvider
                }"
              >
                <mat-form-field>
                  <mat-label>Rue de votre entreprise</mat-label>
                  <input matInput type="text" formControlName="street" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Ville de votre entreprise</mat-label>
                  <input matInput type="text" formControlName="city" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Code postal de votre entreprise</mat-label>
                  <input matInput type="text" formControlName="zipCode" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Pays de votre entreprise</mat-label>
                  <input matInput type="text" formControlName="country" />
                </mat-form-field></div
            ></mat-grid-tile>
          </mat-grid-list>
        </form>
        <div id="profile-btn-container">
          <button mat-stroked-button (click)="fileInput.click()">
            Changer ma photo de profil
          </button>
          <input type="file" hidden #fileInput />
          <button
            mat-stroked-button
            type="submit"
            [disabled]="group.invalid || this.loading"
            (click)="openGeneralAuthConfirmationDialog()"
          >
            Confirmer les modifications
          </button>
        </div>
      </ng-container>
    </mat-tab>
    <mat-tab label="Paiements"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
