<div
  class="online-menu"
  mat-icon-button
  [matMenuTriggerFor]="menu"
  #menuTrigger="matMenuTrigger"
  (mouseenter)="menuTrigger.openMenu()"
  fxShow="true"
  fxFlex.lt-lg="58px"
>
  <div
    class="avatar-container"
    [ngStyle]="{
      'background-image':
        'url(\'' + authService.getProfilePhotoMediaUri() + '\')'
    }"
  ></div>
  <ul fxShow="true" fxHide.lt-lg="true" fxShow.lt-lg="false">
    <li>Bienvenue,</li>
    <li>
      <b>{{ authService.session?.username }}</b> !
    </li>
  </ul>
  <ng-icon name="ionMenuOutline" size="26" fxShow.lt-lg="false"></ng-icon>
</div>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <span (mouseleave)="menuTrigger.closeMenu()">
    <a [routerLink]="['/profil']" ariaCurrentWhenActive="page">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Mon profil</span>
      </button>
    </a>
    <button mat-menu-item (click)="onClickLogout($event)">
      <mat-icon>logout</mat-icon>
      <span>Se déconnecter</span>
    </button>
  </span>
</mat-menu>
